@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: white;
    font-size: 16px;
  }

  p {
    font-family: "Open Sans", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Raleway, "Open Sans", sans-serif;
  }

  button {
    background: rgb(101, 226, 217);
    background: linear-gradient(
      90deg,
      rgba(101, 226, 217, 1) 5%,
      rgba(51, 158, 204, 1) 100%
    );
    font-family: Raleway, "Open Sans", sans-serif;
  }

  #sign-up {
    box-shadow: 6px 6px 8px black;
  }
}
